@import url("fonts.css");
@import url("spacing.css");
@import url("theme.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--on-background-color);
    background: var(--background-color);
}

* {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans 3", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
